<h1>Welcome to Home Page</h1>
<form action="/" method="post">
    <label for="first">First Name</label>
    <input type="text" name="first" placeholder="first name">
    <label for="last">Last Name</label>
    <input type="text" name="last" placeholder="last name">
    <label for="email">Email Id</label>
    <input type="email" name="email" placeholder="email id">
    <button type="submit">Send</button>
</form>