<h1>Welcome to Home Page</h1>
<div>
    <h1>Form using GET method</h1>
    <form action="/handleform" method="get" name="registrationform">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name">
    <label for="email">Email Id</label>
    <input type="email" name="email" placeholder="email id">
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="password">
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" placeholder="phone number">
    <button type="submit">Send</button>
</form>
</div>
<div>
     <h1>Form using POST method</h1>
    <form action="/handleform" method="post" name="registrationform">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="name">
    <label for="email">Email Id</label>
    <input type="email" name="email" placeholder="email id">
    <label for="password">Password</label>
    <input type="text" name="password" placeholder="password">
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" placeholder="phone number">
    <button type="submit">Send</button>
</form>
</div>